@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.input-search {
  @apply h-[2.5rem] w-[90%] rounded-md border border-light-gray bg-[#eeeeee8e] pl-5 text-dark-gray outline-primary;
}

.input-register {
  @apply h-[3rem] w-full rounded-md border border-light-gray pl-12 text-dark-gray outline-primary;
}

.file-input {
  @apply w-[50%] rounded-md border border-light-gray bg-white px-4 py-2 text-gray;
}

.file-input::file-selector-button {
  @apply cursor-pointer rounded-md border-none bg-primary p-2 text-white transition-colors duration-150 hover:bg-dark-primary;
}

.activation-num {
  @apply h-12 w-12 rounded-lg border-2 border-gray text-center text-xl font-bold text-dark-gray outline-none focus:border-primary;
}

.login-container {
  height: 130vh;
  background-color: #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  padding: 4rem;
  background-color: #fff;
  width: 600px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 10 10 10 10 black;
}

.hi {
  font-size: 36px;
  font-weight: bold;
  color: #39455a;
  margin-bottom: 0.5rem;
}
